@import "/Components/Color.scss";

.navbarcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.left {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.right {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.logo {
  padding: 4px;
  display: flex;
  align-items: center;
}

.optionflex {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.options {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  justify-content: space-evenly;

  h4 {
    font-weight: normal !important;
  }
}

.link {
  text-decoration: none;
  color: black;
  margin: 0px;
}

.active {
  text-decoration: underline $secondary-color 2px;
  text-underline-position: under;
  text-underline-offset: 4px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.user {
  display: flex;
  align-items: center;
  // margin-left: 20px;
}

.modals {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  width: 600px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h5 {
    span {
      color: $secondary-color;
    }
  }
}

.input {
  width: 100%;
}

.buttons {
  width: 50%;
  background-color: $secondary-color;
  color: $bg-color;
}
.cart {
  font-size: 2.2rem;
  padding-left: 10px;
  color: $primary-color;
}
.cartCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  //   top: 50%;
  //   left: 50%;
  margin-left: 30px;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: green;
  color: white;
  border-radius: 50%;
  z-index: 1;
  font-size: 0.5rem;
}

.cartIcon {
  display: flex;
  align-items: center;
}
.cartdrawer {
  position: fixed;
  right: 0;
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transition: transform 1s ease;
}
.cartdatastyle {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid $primary-color;
  margin: 1rem 0rem;
  padding: 1rem;
}
.cartdatadiv{
  width: 100%;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.cost{
  position: fixed;
  bottom: 0;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;

}
.cartbutton{
   background-color: $secondary-color;
   color: white;
   padding: 0.8rem;
   border-radius: 1.0rem;
   width: 40%;
   &:hover{
    background-color: #fff;
    color:$primary-color;
   }
}
.cartdataimage{
  width:4rem;
  height:4rem;
  padding: 0.2rem;
  border: 1px solid $primary-color;
}
.cartdatatitle{
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.cartquantity{
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.1rem;
  // border: 1px solid grey;
  align-items: center;
}
.cartquantitybtns{
  // background-color: grey;
  height: 1.5rem;
  width:  1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0.3rem;
  cursor: pointer;
}
.cartdataitemcost{
  width: 20%;
}
.headingcart{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.drawerclosebtn{
  background-color: white;
  border: 3px solid $secondary-color;
  color: $secondary-color;
  font-weight: 700;
  border-radius: 50%;
  cursor: pointer;
}
//class="mb-3 xl:w-96"
//class="input-group relative flex items-stretch w-full mb-4 flex-row"
//"btn inline-block px-6 py-2.5 bg-[#1e3932] text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out flex items-center ml-10"
//"form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Looking For Something Specific?"
