@import '/Components/Color.scss';
.card {
    background-color: white;
    width:35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    margin: 10px;
}

.cardsub {
    width:90%;
    height: 80%;
   
}

.cardlayout {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.carddatalayout {
    margin-left: 12px;
}
.cardimage{
    border-radius: 12px;
}
.carddatasublayout {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cat{
    width:13px;
    height:13px;
}
.additembtn{
    background-color: $secondary-color;
    color: white;
    border-radius: 15px;
    :hover{
        color: aliceblue !important;
    }
}
.ant-btn:not(:disabled):hover {
    color: inherit;
    background-color: inherit;
    border-color: inherit;
  }