@font-face {
    font-family: 'SoDoSans_Semibold';
    src: url('./SoDoSans-Semibold.ttf') format('truetype');
    font-style: normal;
  }
  
  body {
    font-family: 'SoDoSans_Semibold', 'Helvetica', sans-serif;
  }