.sliderbtnprev {
    color: green !important;
}

.Anytime_List {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin-bottom: 10px;
}