@import '../../Color.scss';

.thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankyou_heading {
    width: 100%;
    border-bottom: 1px solid gray;
}

.thankyou_heading h2 {
    margin-left: 10%;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.thankyou_content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 90%;
    margin: auto;
}