@import "/Components/Color.scss";

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  margin-top: 60px;
}

.bannersub {
  width: 60%;
  color: $bg-color;
}
