@import "/Components/Color.scss";

.curations {
  display: flex;
  width: 100%;
  justify-content: center;

  &__title {
    color: $primary-color;
  }

  &_sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;

    &__item {
      padding: 6px;
      cursor: pointer;

      &__itemimg {
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;

        &:hover {
          border: 2px solid $primary-color;
        }
      }

      &__itemtitle {
        text-align: center;
      }
    }
  }
}
