@import './fonts/style.css';
:root{
    margin: 0;
    padding: 0;
    font-family: 'SoDoSans_Semibold', 'Helvetica', sans-serif;
}
body{
    margin: 0;
    font-family: 'SoDoSans_Semibold', 'Helvetica', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
    color:'green';
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00754a;
    height:5px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }