@import "/Components/Color.scss";

.card {
  // background-color: $bg-color;
  box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  margin: 12px;
  width: 31%;
  &:hover {
    box-shadow: 0 4px 8px #00000024, 0 8px 10px #0000001f, 0 1px 10px #0000003a,
      0 16px 24px -16px rgba(0, 0, 0, 0.8);
      transform: scale(1.05) translateZ(0px);
  }
}

.cardsub {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 150px;
  margin-left: 50px;
}

.cardlayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.carddatalayout {
  margin-top: -40px;
  margin-left: 15px;
}

.carddatalayout p {
  margin-top: -20px;
}

.cardimage {
  border-radius: 12px;
  margin-top: -15px;
  margin-left: -55px;
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 1px 18px rgba(0, 0, 0, 0.06))
    drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}

.carddatasublayout {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.additembtn {
  background-color: $secondary-color;
  color: white;
  border-radius: 15px;

  :hover {
    color: aliceblue !important;
  }
}

.ant-btn:not(:disabled):hover {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}
